 .Skills {
 }
 .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
 }
 .both__skills {
    display: flex;
    justify-content: center;
    column-gap: 1rem;

 }
.frontend__Skills {
    background-color: var(--container-color);
    border: 1px solid #00000012;
    border-radius: 0.75rem;
    padding: 20px;
    width: 300px;
    
}
.frontend__Skills > .center {
     margin-left: 80px;
}
.skills_details {
    display: flex;
    justify-content: space-between;
    row-gap: 7px;
    flex-wrap: wrap;
}
.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
 
.skill__name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill__name > h4 {
    margin-left: 3px;
}

@media screen and (max-width: 425px) {
    .frontend__Skills > .center {
        margin-left: 70px;
   }
   .skills_details {
    display: flex;
    justify-content: space-between;
    row-gap: 15px;
    flex-wrap: wrap;
}

.both__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

 }
}
@media screen and (max-width: 375px) {
    
    .frontend__Skills > .center {
        margin-left: 70px;
   }
   .skills_details {
    display: flex;
    justify-content: space-between;
    row-gap: 15px;
    flex-wrap: wrap;
}

.both__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

 }
}